#main-box{
    width: 100%;
    height: 1000px;
    background: black;
}

.box1{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid white;
    margin-top: 300px;
    margin-left: -39px;
    float: left;
}
.box2{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid white;
    margin-top: 300px;
    margin-left: -39px;
    float: left;
}

#body{
    margin: 0;
}

